$menuBlue: #73C2FF;
$boxBlue: #43ADFF;
$fontBlue: #43ADFF;
$medium: #73c2ff;
$light: #e3f1fb;
$textGray: #707070;
$textSmallGray: #a7a7a7;
$lineGray: #ccc;
$lineBlodGray: #e3e3e3;
$lightGray: #ececec;

$navFont: #000000;
$subnMenuFont: #FFFFFF;
$subnMenuBackbround: #000000;
